<div class="col-4">
  <div class="mx-4 my-5">
    <div class="card-trip">
       <img src="<%= spaceship.photo %>" onerror="this.onerror=null;this.src='https://www.hexapolis.com/wp-content/uploads/2014/11/Thomas-Richner_Cardboard-Millennium-Falcon.jpg'">
       <div class="card-trip-infos">
          <div>
            <h2><%= spaceship.name %></h2>
          </div>
          <h2 class="card-trip-pricing"><%= spaceship.price %> G$</h2>
          <img src='<%= User.find(spaceship.user_id).photo %>' class="card-trip-user avatar-bordered" onerror="this.onerror=null;this.src='https://medias.spotern.com/spots/w640/60642-1532336916.jpg'"/>
        </div>
        <%= link_to "", spaceship_path(spaceship), class: "stretched-link card-link" %>
      </div>
    </div>
  </div>
