<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-0 mb-5">
  <%= link_to "JABBA RENTALS", spaceships_path, class: "navbar-jabba"  %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>

        <!-- DASHBOARD LINK -->
        <li class="nav-item active pr-3">
          <%= link_to '<i class="fas fa-user-astronaut"></i>'.html_safe, dashboard_path, class: "nav-link text-white" %>
        </li>

        <!-- USER AVATAR + DROPDOWN -->
        <li class="nav-item dropdown py-1">

          <!-- USER AVATAR -->
          <%  if current_user.photo.url.nil? %>

            <!-- AVATAR PLACEHOLDER PHOTO -->
            <%= image_tag "https://medias.spotern.com/spots/w640/60642-1532336916.jpg", alt: "alttext", class: "nav-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <% else %>

            <!-- AVATAR USER PHOTO -->
            <%= cl_image_tag current_user.photo, class: "nav-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <% end %>

          <!-- DROPDOWN -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <!-- LOG OUT LINK -->
            <%= link_to '<i class="fas fa-sign-out-alt"> Log out</i>'.html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item" %>

          </div>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>


<!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
