<div class="container">
  <h3>Request this ship</h3>
  <div class="row justify-content-center">
    <div class="form-style">
      <%= simple_form_for [@spaceship, @rental] do |f| %>
        <%= f.input :start_date, as: :string, :input_html => { class: "datepicker" } %>
        <%= f.input :end_date , as: :string, :input_html => { class: "datepicker" }%>
        <%= f.button :submit, "RENT IT", class: "btn btn-outline-warning" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    flatpickr(".datepicker",{
      disable: <%= raw @taken_dates %>,
      dateFormat: "Y-m-d",
    });
  };
</script>
