<div class="dashboard">
  <div class="container">
  <h1><%= current_user.name %> - Dashboard</h1>

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks active" data-tab="spaceships">My Spaceships</button>
      <button class="tablinks" data-tab="rentals">My bookings</button>
      <button class="tablinks" data-tab="pending_rentals">Rental Requests</button>
    </div>

    <!-- Tab content -->
    <div id="spaceships" class="tabcontent active">
      <ul>
        <% current_user.spaceships.each do |spaceship| %>
          <li><div class="card-product spaceship-item">
            <%= cl_image_tag spaceship.photo %>
            <div class="card-product-infos">
              <h2><%= link_to spaceship.name, spaceship_path(spaceship), class: "stretched-link" %></h2>
              <p>Maximum capacity: <%= spaceship.max_capacity %></p>
            </div>

          </div></li>
        <% end %>
        <li><div class="card-product add justify-content-center">
              <h2><%= link_to "+", new_spaceship_path, class: "add-ship stretched-link" %></h2>
            </div></li>
      </ul>
    </div>

    <div id="rentals" class="tabcontent">
      <ul>
        <% current_user.rentals.each do |rental| %>
          <li><div class="card-product">
            <%= cl_image_tag Spaceship.find(rental.spaceship_id).photo %>
            <div class="card-product-infos">
              <h2><%= link_to Spaceship.find(rental.spaceship_id).name, spaceship_path(Spaceship.find(rental.spaceship_id)), class: "stretched-link" %></h2>
              <p>From <span class="white"><%= rental.start_date %></span> to <span class="white"><%= rental.end_date %></span></p>
              <p>Status :
                <% if rental.accepted %>
                  <span class="green">Accepted</span>
                <% elsif rental.accepted.nil? %>
                  <span class="orange">Pending</span>
                <% else %>
                  <span class="red">Cancelled</span>
                <% end %>
                </p>
            </div>
          </div></li>
        <% end %>
      </ul>
    </div>

    <div id="pending_rentals" class="tabcontent">
      <ul>
        <% current_user.spaceships.each do |spaceship| %>
          <% @pending_rentals.each do |rental| %>
            <li><div class="card-product">
              <%= cl_image_tag Spaceship.find(rental.spaceship_id).photo %>
              <div class="card-product-infos">
                <h2><%= link_to Spaceship.find(rental.spaceship_id).name, spaceship_path(Spaceship.find(rental.spaceship_id)) %></h2>
                  <!-- <p class="stretched-link"></p> -->
                  <p id= '<%= rental.id %>-status' >Status: <span class="orange">Pending</span></p>
                  <p>From <span class="white"><%= rental.start_date %></span> to <span class="white"><%= rental.end_date %></span></p>
                </div>
                <%= link_to 'Accept', rental_accept_path(rental), class: "accept-button btn btn-outline-warning mx-4", id:"#{rental.id}-accept", :remote => true %></p>
                <%= link_to 'Decline',  rental_decline_path(rental), class: "cancel-button btn btn-outline-warning mx-4", id:"#{rental.id}-decline", :remote => true %>
            </div></li>
          <% end %>
          <% @accepted_rentals.each do |rental| %>
            <li><div class="card-product">
                <%= cl_image_tag Spaceship.find(rental.spaceship_id).photo %>
                <div class="card-product-infos">
                  <h2><%= link_to Spaceship.find(rental.spaceship_id).name, spaceship_path(Spaceship.find(rental.spaceship_id)) %></h2>
                  <!-- <p class="stretched-link"></p> -->
                  <p id= '<%= rental.id %>-status' >Status: <span class="green">Accepted</span></p>
                  <p>From <span class="white"><%= rental.start_date %></span> to <span class="white"><%= rental.end_date %></span></p>
                </div>
              </div></li>
          <% end %>
              <%# else %>
          <% @declined_rentals.each do |rental| %>
            <li><div class="card-product">
              <%= cl_image_tag Spaceship.find(rental.spaceship_id).photo %>
              <div class="card-product-infos">
                <h2><%= link_to Spaceship.find(rental.spaceship_id).name, spaceship_path(Spaceship.find(rental.spaceship_id)) %></h2>
                <!-- <p class="stretched-link"></p> -->
                <p id= '<%= rental.id %>-status' >Status: <span class="red">Declined</span></p>
                </div>
            </div></li>
          <% end %>

        <% end %>
      </ul>
    </div>

  </div>
</div>

<script>
  document.querySelectorAll('.tablinks').forEach ( function(element) {
    element.addEventListener("click", (event) => {
      document.querySelectorAll('.tablinks').forEach ( function(item) {
        item.classList.remove("active");
      });
      event.currentTarget.classList.add("active");
      document.querySelectorAll('.tabcontent').forEach (function(item) {
        item.style.display = "none";
      });
      document.getElementById(event.currentTarget.dataset.tab).style.display = "block";
    });
  });
</script>
