<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80');">
 <div class="form-style-5">
   <div class="row justify-content-center">
     <div class="col-sm-6 col-md-12">
       <%= simple_form_for [@spaceship ] do |f| %>
         <%= f.input :name, placeholder: "Spaceship's name" %>
         <%= f.input :price ,placeholder: "Spaceship's price" %>
         <%= f.input :photo %>
         <%= f.input :photo_cache, as: :hidden %>
         <div class="row justify-content-center">
           <%= f.button :submit, class: "btna btn-outline-warning" %>
         </div>
       <% end %>
      </div>
    </div>
   </div>
 <div class="row justify-content-center">
   <%= link_to "Back to all spaceships", spaceships_path, class: "btn btn-outline-dark" %>
 </div>
</div>
