<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1><%= @spaceship.name %></h1>
      <div class="spaceship-photo">
        <%= cl_image_tag(@spaceship.photo, crop: :fill) %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Vessel details:</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Description</th>
            <th>Maximum Capacity</th>
            <th>Price</th>
          </thead>
          <tr>
            <td><%= @spaceship.description %></td>
            <td><%= @spaceship.max_capacity %></td>
            <td><%= @spaceship.price %> $ / day</td>
          </tr>
        </tbody>
      </table>
      <h3>Owner:</h3>
      <div class="row justify-content-between" id="show-owner-details">
        <h3><%= User.find(@spaceship.user_id).name %></h3>
        <%= cl_image_tag(User.find(@spaceship.user_id).photo, height: 150, width: 150, crop: :fill ) %>
      </div>
      <hr>
    </div>
  </div>
  <div class="show-btn d-flex justify-content-between mt-5 pt-5">
    <%= link_to "Book this spaceship!", new_spaceship_rental_path(params[:id]), class: "btn btn-outline-warning" %>
    <%= link_to "Back to all spaceships", spaceships_path, class: "btn btn-outline-secondary" %>
  </div>

  <div class="reviews my-5">
    <h3>Reviews :</h1>
    <% @spaceship.reviews.each do |review| %>
      <div class="review d-flex align-items-center">
        <%= cl_image_tag(User.find(review.user_id).photo, height: 50, width: 50, crop: :fill, class: 'avatar avatar-bordered') %>
        <div class="review-infos ml-4">
          <p class= "mb-0">
            <% review.rating.times do %>
            <i class="fas fa-star star-rating"></i>
            <% end %>
            <% (5 - review.rating).times do %>
            <i class="far fa-star star-rating"></i>
            <% end %></p>
          <p class= "mb-0"><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
 <%= simple_form_for [@spaceship, @review] do |f| %>
  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
   <%= f.input :content, placeholder: "Give your opinion", :input_html => { :class => 'input' } %>
   <div class="row justify-content-center">
     <%= f.button :submit, class: "btna btn-outline-warning" %>
   </div>
 <% end %>
</div>
