<div class="container">
  <div class="row justify-between">
    <div class="col-sm-12 col-md-8">
      <div class="d-flex mt-2">
        <h1><%= @spaceship.name %></h1><hr>
        <%= cl_image_tag(User.find(@spaceship.user_id).photo, height: 150, width: 150, crop: :fill , class: "avatar-bordered-2") %>
      </div>
      <div class="d-flex">
        <hr>
        <%= User.find(@spaceship.user_id).name %>
      </div>
      <div class="spaceship-photo">
        <%= cl_image_tag(@spaceship.photo, crop: :fill) %>
      </div>
      <hr>
      <div class="infos">
        <table>
          <tbody>
            <tr>
              <td><i class="fas fa-weight-hanging"></i> Maximum capacity:</td>
              <th class="text-right"><%= @spaceship.max_capacity %></th>
            </tr>
            <tr>
              <td><i class="fas fa-dollar-sign"></i> Price:</td>
              <th class="text-right"><%= @spaceship.price %> G$ / day</th>
            </tr>
            <tr>
              <td><i class="far fa-newspaper"></i> Description:</td>
            </tr>
              <td class="smalltext"><%= @spaceship.description %></td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="form-style mt-5 sticky-form">
        <%= simple_form_for [@spaceship, @rental] do |f| %>
          <%= f.input :start_date, as: :string, :input_html => { class: "datepicker" } %>
          <%= f.input :end_date , as: :string, :input_html => { class: "datepicker" }%>
           <div class="row justify-content-center"> -->
            <%= f.button :submit, "Book this spaceship!", class: "book" %>
           </div>
         <% end %>
      </div>
    </div>
  </div>
  <div class="my-5" id="reviews">
    <h3 id="review-count"><%= render 'reviews/count', reviews: @spaceship.reviews %></h3>
    <% @spaceship.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  </div>
  <%= render 'reviews/form', spaceship: @spaceship, review: Review.new  %>
</div>

<script>
  window.onload = function () {
    flatpickr(".datepicker",{
      disable: <%= raw @taken_dates %>,
      dateFormat: "Y-m-d",
    });
  };
</script>
