<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1><%= @spaceship.name %></h1>
      <%= link_to "Back to all spaceships", spaceships_path, class: "btn btn-primary" %>
      <%= cl_image_tag @spaceship.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Vessel details</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Description</th>
            <th>Maximum Capacity</th>
            <th>Price</th>
          </thead>
          <tr>
            <td><%= @spaceship.description %></td>
            <td><%= @spaceship.max_capacity %></td>
            <td><%= @spaceship.price %></td>
          </tr>
        </tbody>
      </table>
      <h3>Owner: <%= User.find(@spaceship.user_id).name %></h3>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <%#= render "rentals/new", spaceship: @spaceship, rental: @rental %>
    </div>
  </div>
</div>
